<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link th:href="@{/resources/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
	<h1 style="margin-left: 10px">Login page</h1>
	<div style="margin-left: 10px">
		<input id="username" class="form-control input-login" type="text" placeholder="Username"></input>
		<input id="password" class="form-control input-login" type="password" placeholder="Password"></input>
		<button id="btnLogin" class="btn btn-primary">Login</button> <br/>
		<a href="/register">You don't have account? Register</a>
	</div>

	<script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</body>
</html>